<header class="action-bar fixed-top">
	<a class="action go-back" data-ignore="true">
		<i class="icon-up-button"></i>
		<i class="icon-home"></i>
        <h1 class="title">		
		<%= i18n.title.map %>
	</h1>   
	</a>
	 
</header>
<nav class="tab-fixed">
	<div class="tab-inner">
		<input id="search" type="search" name="search-mini" value="" class="search-query input-text" placeholder="<%= i18n.input.typeKeywordToSearch %>" class="input-text" />	
	</div>
</nav>
<div class="content">
    <div id="message"></div>
    <div id="map"></div>
</div>