<header class="action-bar fixed-top">
    <a class="action go-back" data-ignore="true">
        <i class="icon-up-button"></i>
        <i class="icon-home"></i>
        <h1 class="title"><%= i18n.title.orderDetailsReport %></h1>
    </a>    
</header>
<div class="content">
    <ul class="list inset">
        <li class="list-divider"><%= i18n.li.orderDetailsForOrder %></li>

        <li><b><%= i18n.li.oWOrderNo___ %></b><%= total.OrderNbr %></li>
        <li><b><%= i18n.li.cust_OrderNo__ %></b><%= detail[0].CustomerOrderNbr %></li>
        
    </ul>  
    <ul id="OrderStatusList" class="list inset"></ul>  
    <ul id="OrderDetailList" class="list inset"></ul>
    <ul class="list inset">
        <li class="list-divider"><%= i18n.li.orderTotal %></li>
        <li><%= i18n.li.qty___ %><%= total.TotalQty %>
            <span class="pull-right"><%= i18n.text.price___ %><%= total.TotalPrice %></span>
        </li>
    </ul>
</div>
