<header class="action-bar fixed-top">
    <a class="action go-back" data-ignore="true">
        <i class="icon-up-button"></i>
        <i class="icon-home"></i>
        <h1 class="title"><%= i18n.title.stockItemFind %></h1>
    </a>

</header>
<nav class="tab-fixed">
    <div class="tab-inner">
        <input type="search" name="search-mini" id="search-mini" value="" class="search-query input-text" placeholder="<%= i18n.input.typeKeywordToSearch %>" />
    </div>
</nav>
<div id="content" class="content">
    <ul id="ProductOnHandList" class="list inset">
    </ul>
</div>
